/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
/*   box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
}


/* Padding for spacing */
.inner {
  padding: 30px 0;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Yesteryear', cursive;
  font-size: 30px;
}

.masthead-brand a {
  text-decoration: none;
}

form.form-signin h3 {
  font-size: 50px;
  width: 300px;
  text-align: center;
  padding-bottom:20px
}


.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top: 110px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.dopeable {
background: url('../images/record-off.50.png') no-repeat center;
cursor: pointer;
height: 50px;
width: 50px;
}

.dopeable.dopped {
background: url('../images/record-on.50.png') no-repeat center;
}

.dopped span {
font-family: 'Yesteryear', cursive;
color: rgba(255,255,255,1);
line-height: 46px;
font-size: 26px;
margin-left: 6px;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-align: center;
}




.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 1px solid #040004;
}
*/

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding: 8px;
line-height: 1.428571429;
vertical-align: top;
border-top: 1px solid #444;
}

table#post-table>tbody>tr td:first-child {
width:50px;
}

table#post-table>tbody>tr:first-child td {
border-top:0;
}


table#post-table>tbody>tr td small {
color: #999;
color: rgba(255,255,255,.5);
}



.page-header .toggle-search {
margin-top:12px;
cursor: pointer;
}

.btn-primary {
color: #fff;
background-color: #279AD8;
border-color: #357ebd;
}

.pagination li a {
border: 1px solid #555;
color: #ddd;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
background-color: transparent;
border: 1px solid #555;
}

.pagination li a:hover, .pagination li.active a {
border: 1px solid #555;
background: #303030;
color: #ffffff;
}

.pagination>li>a, .pagination>li>span {
background:transparent;
}

.label-danger {
background-color: #D43545;
}

.tag {
text-transform: uppercase;
font-weight: 100;
font-size: 11px;
letter-spacing: 1px;
color: #999;
color: rgba(255,255,255,.7);
}

.form-group input,
.form-group textarea,
.search input {
padding: 2px 6px;
line-height: 40px;
font-size: 24px;
width: 100%;
-webkit-appearance: none;
border: 2px solid #aaa;
border-radius: 0;
background: #333;
height: inherit;
color:#fff;
}

.alert-danger {
background-color: #D43545;
border: none;
color: inherit;
}


.centered {
width: 100%;
text-align: center;
}

.dope-button-holder {
padding-top: 25px;
}